#add_app {
  display: flex;
  /*would like to change to column*/
  flex-direction: row;
  justify-content: flex-end;
  width: 30px;
  padding-right: 20px;
}

.add_icon, .edit_icon , .delete_icon{
  width: 37px;
  height: 37px;
  border-radius: 10px;
  border-color: #0099CC;
  box-shadow: 4px 4px 5px #0099CC;
  cursor: pointer;
}

.add_icon{
  background: url(../images/png/add.png);
}

.edit_icon{
  background: url(../images/png/edit.png);
}

.delete_icon{
  background: url(../images/png/delete.png);
}
.complete_icon{
  background: url(../images/png/check-mark.png);
}