
.menu{
  display: flex;
  background-color: #003399;

  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 10px 5px 10px 5px;

}

.menu ul{
  width: 100vw;
}

.menu li a{
  text-decoration: none;
  color: #CCFFCC;
  padding: 5px;
  font-size: 18px;
  border-radius: 10px 2px 10px 2px;
}

.menu li a:hover{
  background-color: #0099CC;
  color: white;
}

