@import url(nav.css);
@import url(table.css);
@import url(buttons.css);

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #66CCFF;
  font-family: Helvetica, Arial
}

.table_buttons{
  display: flex;
  justify-content: center;
}

.owner_details{
  display: flex;
  justify-content: center;
  height:100px;
  line-height: 150%;
  font-size: 1.5em;
  padding-left: 10px;
}


#header{
  display: flex;
  justify-content: flex-start;
  font-size: 0.8em;
  width: 100vw;
  background-color: #003399;


}

#header h1{
  padding: 5px;
  margin: 0px;
  color: #CCFFCC;
  opacity: 0.5;

}

#homeImage img{
  width: 100vw;
  height: 50vw;
}
