@import url(nav.css);
@import url(table.css);
@import url(buttons.css);

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #66CCFF;
  font-family: Helvetica, Arial
}

.table_buttons{
  display: flex;
  justify-content: center;
  padding: 40px 0px 40px 0px;

}

.owner_details{
  display: flex;
  flex-direction: column;
  min-width: 200px;
  justify-content: center;
  height:100px;
  line-height: 150%;
  padding-left: 10px;
  margin-top: -14px;
  
}
.owner_details address p{
  font-size: 1.5em;
  padding: 10px;
  border: solid 2px #0099CC;
}

#notes_reason{
  display: flex;
  padding: 10px;
  justify-content: space-around;
}


#header{
  display: flex;
  justify-content: flex-start;
  font-size: 0.8em;
  width: 100vw;
  /*background-color: #003399;*/


}

#header h1{
  padding: 5px;
  margin: 0px;
  color: #CCFFCC;
  opacity: 0.5;

}

#homeImage img{
  width: 100vw;
  height: 50vw;
}
