.main_table_div{
  display: flex;
  justify-content: center;
}

.main_table{
  justify-content: center;
  width: 90%;
  align: center;


}

.main_table td, th{
    text-align: center;
    vertical-align: middle;
    width: 20em;
    height: 2em;
}

  .main_data:hover{
  background-color: #5fabd0;
}

.t_header{
  background-color: #0099CC;
}