<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <title>PMS</title>
</head>
<body>
<div id="header">
  <header>
    <h1>Huntbyte PMS</h1>
  </header>
</div>
  <nav class="menu">
    <ul class="menu">
      <li><button><a href="/">Home</a></button></li>
      <li><button><a href="/appointments">Appointments</a></button></li>
      <li><button><a href="/owners">Clients</a></button></li>
      <li><button><a href="/operations">Operations</a></button></li>
      <li><button><a href="/in-patients">In-Patients</a></button></li>
      <li><button><a href="/waiting">Waiting Room</a></button></li>
    </ul>
  </nav>
<%= yield %>
</body>
</html>