<h2>Create New Pet</h2>

<form method="post" action="/pet">
  <label>Name</label>
  <input type="text" name="name">
  <label>Age</label>
  <input type="text" name="age">
  <label>Type</label>
  <input type="text" name="type">
  <label>Breed</label>
  <input type="text" name="breed">
  <input type="hidden" name="owner_id" value= "<%= params[:id] %>">
  <input type="submit" name="Add Pet">
</form>