

<table>
  <tr>
    <th>Time</th>
    <th>Surname</th>
    <th>Patient</th>
    <th>Type</th>
    <th>Breed</th>
    <th>Vet</th>
    <!-- surname, address, name, species, breed sex(ME MN FE FN U) dob potentialy reason for appointment-->
  </tr>
  <% @appointments.each do |appointment| %>
  <% pet = appointment.get_pet %>
  <tr>
    <td><%= appointment.appointment_time %></td>
    <td>Bloggs</td>
    <td><%= pet.name %></td>
    <td><%= pet.type %></td>
    <td><%= pet.breed %></td>
    <td>McCluskey</td>
  </tr>
<% end %>
</table>
<button><a href="/owners/select">New Appointment</a></button>
