

<table>
<% @appointments.each do |appointment| %>
  <tr>
    <th>Name</th>
    <th></th>
    <!-- surname, address, name, specied breed sex(ME MN FE FN U) dob potentialy reason for appointment-->
  </tr>
<% end %>
</table>
