<h2>Create New Appointment</h2><br>
<% if @times == [] %>
<p class="no_bookings">
<%= "There are no available appointments for this day" %>
</p><br>
<% end %>
<form method="POST" action="/appointments">
  <input type="hidden" name="pet_id" value="<%= params[:pet_id] %>">
  <label>Date:</label>
  <input type="date" name="app_date">
  <label>Time:</label>
  <select name="appointment_time_id" required>
    <% @times.each do |time| %>
    <option value="<%= time.id %>"><%= time.available_time %></option>
    <% end %>
  </select>
  <label>Reason</label>
  <input type="text" name="reason">
  <input type="submit" name="add_appointment" value="Add Appointment">
</form>