<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
  </tr>
  <% @owners.each do |owner| %>
    <tr>
      <td><%= owner.name %></td>
      <td><%= owner.address %></td>
      <td><%= owner.phone %></td>
    </tr>
  <% end %>
</table>